body html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(165, 42, 42);
    ;
}

.tableName {
    text-align: center;
    width: 100%;
}

h2 {
    color: rebeccapurple;
}


table {
    background-color: rgb(222, 184, 135);
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    border-color: gray;
    white-space: normal;
    font-variant: normal;
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    unicode-bidi: isolate;
    background-color: rgb(190, 143, 235);
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-top: 1px rebeccapurple solid;
}

span {
    background-color: bisque;
}