body html {
    margin: 0;
    padding: 0;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-image: url('https://images.unsplash.com/photo-1621839673705-6617adf9e890?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tableName {
    text-align: center;
    width: 100%;
}

h2 {
    color: rgb(129, 70, 189);
}


table {
    background-color: rgb(222, 184, 135);
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-align: start;
    border-spacing: 2px;
    border-color: gray;
    white-space: normal;
    font-variant: normal;
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    unicode-bidi: isolate;
    background-color: rgb(190, 143, 235);
}

td {
    word-spacing: 4px;
    font-family: 'Jersy 10';
    font-weight: 700;
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-top: 1px rebeccapurple solid;
}

span {
    font-family: monospace;
    background-color: bisque;
}

.darkModeButton {
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.dark-mode {
    background-color: black;
    color: white;

    span {
        color: black;
    }

    background-image: none;
}